@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(71, 115, 218); */
    /* background: url(./assets/sea.jpeg); */
    background: url('./assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    font-family: "Karla", sans-serif;
    color: #fff;
    width: 99vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.title {
    height: 8%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.container {
    /* min-height: 90%; */
    width: 100%;
    height: 92%;
}

.fish {
    position: absolute;
    height: 80px;
    width: 150px;
    /* border: 1px solid #000; */
    animation: float 10s linear infinite;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.tool-tip {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: fit-content;
    font-size: 0.9rem;
    padding: 0.2rem 0.75rem;
    border-radius: 0.75rem;
    line-height: 0.75;
}

.tool-tip h3 {
    letter-spacing: 1px;
}

.tool-tip p span {
    font-weight: 500;
}

@keyframes float {
    0% {
    transform: translateX(-20px) translateY(0px);
    }
    100% {
    transform: translateX(105vw) translateY(-20px);
    }
}


/* SPECIFIC STYLES */

.clownfish {
    top: 17%;
    left: -150px;
    background-image: url('./assets/clownfish.png');
    animation-duration: 26s;
    width: 100px;
    height: 100px;
    /* transform: rotate(45deg); */
}

.blueTang {
    top: 30%;
    left: -600px;
    background-image: url('./assets/blue-tang.png');
    animation-duration: 37s;
    width: 110px;
    height: 110px;
}

.butterflyFish {
    top: 47%;
    left: -420px;
    background-image: url('./assets/butterfly-fish.png');
    animation-duration: 21s;
    width: 120px;
    height: 120px;
}

.tuna {
    top: 70%;
    left: -260px;
    background-image: url('./assets/tuna.png');
    animation-duration: 27s;
    width: 200px;
    height: 150px;
}

.koi {
    top: 60%;
    left: -550px;
    background-image: url('./assets/koi.png');
    animation-duration: 34s;
    width: 200px;
    height: 150px;
}