:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(71, 115, 218); */
    /* background: url(./assets/bg.jpeg); */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    width: 99vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: beige;
}

.title {
    height: 8%;
    width: 100%;
    text-align: center;
    background-color: burlywood;
}

.container {
    /* min-height: 90%; */
    width: 100%;
    height: 92%;
    background-color: blueviolet;
}

.fish {
    height: 80px;
    width: 150px;
    border: 1px solid #000;
    background-color:aquamarine;
}

.tool-tip {
    /* border: 3px solid #000; */
    /* background: rgba(10, 185, 254, 0.6); */
    /* background: rgba(255, 127, 80, 0.9); */
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: fit-content;
    font-size: 0.8rem;
    padding: 0.2rem 0.75rem;
    border-radius: 0.75rem;
    line-height: 0.75;
}

.tool-tip h3 {
    letter-spacing: 1px;
}

.tool-tip p span {
    font-weight: 500;
}
